$main-font: "Public Sans", "Arial", sans-serif;
$secondary-font: "Ibarra Real Nova", "Times New Roman", serif;
$color-white: #fff;
$color-cyan: #5FB4A2;
$color-dark-blue: #203A4C;
$color-grayish-dark-blue: #33323D;
$color-light-grey-bg: #fafafa;
$color-light-grey-text: #EAEAEB;
$color-bright-red: #F43030;
