/* CONTAINER */
.container {
  max-width: 1150px;
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
}


@media only screen and (min-width: 768px) {
  /* TABLET CONTAINER */
  .container {
     padding: 0 40px;
  }
}

@media only screen and (min-width: 1150px) {

  /* DESKTOP CONTAINER */
  .container {
    padding: 0 20px;
  }
}
