.follow {
  padding-bottom: 80px;
  text-align: center;
}

.follow__heading {
  margin: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-size: 40px;
  width: 311px;
  margin-left: auto;
  margin-right: auto;
  line-height: 42px;
  letter-spacing: -0.5px;
  color: #33323D;
}

@media only screen and (min-width: 768px){
  .follow {
    padding-bottom: 96px;
    display: flex;
    align-items: center;

  }

  .follow__inner {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .follow__inner::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(51, 50, 61, 0.15);
    flex-flow: 1;
    margin-left: 30px;
    margin-right: 30px;
  }

  .follow__heading {
    margin: 0;
    width: 350px;
    flex-shrink: 0;
  }

  .follow__link {
    white-space: nowrap;
  }
}

@media only screen and (min-width: 1150px) {

  .follow {
    padding-bottom: 150px;
  }

  .follow__inner {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .follow__inner::after {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgba(51, 50, 61, 0.15);
    flex-flow: 1;
    margin-left: 30px;
    margin-right: 30px;
  }

  .follow__heading {
    margin: 0;
    width: 350px;
    flex-shrink: 0;
  }

  .follow__link {
    white-space: nowrap;
  }
}
